<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${movie.getTitle()}"></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/header_styles.css}">
    <link rel="stylesheet" th:href="@{/css/general_style.css}">
    <link rel="stylesheet" th:href="@{/css/movie_page.css}">
</head>
<body>
    <div th:replace="general/header :: header"></div>
    <main id="main">
        <div class="media-window" id="video-hover-window">
            <div th:each="video : ${videos}">
                <iframe th:if="${trailer != null}" th:data-src="@{${video.getFullLink()}}" class="video" title="Video" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="container movie-page-container">
            <div id="meta-info">
                <div id="main-info">
                    <h1 th:text="${movie.getTitle()}" id="main-title"></h1>
                    <div id="secondary-info">
                        <span th:inline="text">Director: [[${director.getName()}]]</span>
                        <span th:inline="text" id="release-date">Release date: [[${movie.getRelease_date()}]]</span>
                        <span th:inline="text" id="runtime">Runtime: [[${movie.getRuntimeInHoursAndMinutes()}]]</span>
                        <p th:text="${movie.getOverview()}" id="overview"></p>
                    </div>
                </div>
                <div id="ratings">
                    <div id="popularity">
                        <h3>
                            Popularity
                        </h3>
                        <span th:text="${movie.getPopularity()}"></span>
                    </div>
                </div>
            </div>
            <div id="media">
                <img th:src="@{${movie.getMoviePosterUrl()}}" alt="Main poster" class="image">
                <iframe th:if="${trailer != null}" th:src="@{${trailer}}" id="trailer" title="YouTube Trailer" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div id="all-videos">
                    <img th:src="@{/img/video-ico.svg}" alt="video-ico" id="video-ico">
                </div>
            </div>
            <div sec:authorize="isAuthenticated()">
                <input type="hidden" name="movieId" th:value="${movie.getId()}">
                <input type="hidden" name="movieTitle" th:value="${movie.getTitle()}">
                <select name="status" id="status" onchange="this.form.submit()" th:data-movie-id="${movie.id}" th:data-movie-title="${movie.title}" th:data-year="${movie.getReleaseYear()}">
                    <option th:selected="${!has_watched}" value="not_watched">Not watched</option>
                    <option th:selected="${has_watched}" value="watched">Watched</option>
                </select>
            </div>

        </div>
    </main>
    <script th:src="@{/scripts/showMediaHoverPageScript.js}"></script>
    <script th:src="@{/scripts/changeMovieStatusForUser.js}"></script>
    <div th:replace="general/websocketscripts :: websocketscripts"></div>
</body>
</html>