<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${movie.getTitle()}"></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/header_styles.css}">
    <link rel="stylesheet" th:href="@{/css/general_style.css}">
    <link rel="stylesheet" th:href="@{/css/movie_page.css}">
</head>
<body>
    <div th:replace="general/header :: header"></div>
    <main id="main">
        <div class="media-window" id="video-hover-window">
            <div th:each="video : ${videos}">
                <iframe th:if="${trailer != null}" th:data-src="@{${video.getFullLink()}}" class="video" title="Video" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="container movie-page-container">
            <div id="meta-info">
                <div id="main-info">
                    <h1 th:text="${movie.getTitle()}" id="main-title"></h1>
                    <span th:text="${movie.getOriginal_title()}" id="original-title"></span>
                    <div id="secondary-info">
                        <span th:text="${movie.getRelease_date()}" id="release-date"></span>
                        <span th:text="${movie.getRuntimeInHoursAndMinutes()}" id="runtime"></span>
                    </div>
                </div>
                <div id="ratings">
                    <div id="popularity">
                        <h3>
                            Popularity
                        </h3>
                        <span th:text="${movie.getPopularity()}"></span>
                    </div>
                </div>
            </div>
            <div id="media">
                <img th:src="@{${movie.getMoviePosterUrl()}}" alt="Main poster" class="image">
                <iframe th:if="${trailer != null}" th:src="@{${trailer}}" id="trailer" title="YouTube Trailer" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div id="all-videos">
                    <img th:src="@{/img/video-ico.svg}" alt="video-ico" id="video-ico">
                </div>
            </div>

        </div>
    </main>
    <script th:src="@{/scripts/showMediaHoverPageScript.js}"></script>
</body>
</html>