<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/general_style.css}">
    <link rel="stylesheet" th:href="@{/css/movies_page.css}">
    <link rel="stylesheet" th:href="@{/css/header_styles.css}">
    <link rel="stylesheet" th:href="@{/css/auth_page.css}">
</head>
<body>
    <div th:replace="general/header :: header"></div>
    <main id="main">
        <div class="container">
            <form action="/login" method="post" class="form_container">
                <div class="container_form_input">
                    <label for="email"> Email: </label>
                    <input id="email" type="text" name="email" placeholder="Enter your email" class="form_container_input" required>
                </div>
                <div class="container_form_input">
                    <label for="password"> Password: </label>
                    <input id="password" type="password" name="password" placeholder="Enter your password" class="form_container_input" required>
                </div>
                <div th:if="${isAuthenticationFailed}" class="form_container_warning">
                    <span class="form_container_warning">Wrong email or password!</span>
                </div>
                <div class="class_form_input">
                    <button type="submit" class="form_container_input">Sign in</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>