<!DOCTYPE html>
<html lang="en">
<body>
    <header id="header">
        <div id="logo">
            <a th:href="@{/movies}" id="logo-link">
                <h1>
                    CineLab
                </h1>
            </a>
        </div>
        <div id="header-container">
            <form th:action="@{/movies}" method="get" id="search-input-form">
                <label>
                    <input type="text" id="search-input" placeholder="Search by title" name="title">
                </label>
            </form>
        </div>
    </header>
</body>
</html>