<th:block th:fragment="websocketscripts">

    <script defer src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>

    <script defer src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7/bundles/stomp.umd.min.js"></script>

    <script defer th:src="@{/scripts/websocket.js}"></script>

    <script defer th:src="@{/scripts/handleFriendEventWS.js}"></script>

    <script defer th:src="@{/scripts/acceptOrRejectFriend.js}"></script>

    <script defer th:src="@{/scripts/renderFriendControls.js}"></script>

</th:block>