.title-button-review {
    width: 50%;
    display: flex;
    align-items: center;
    transition: 1.2s;
}

.title-button-review > a:hover .watched-movie-title {
    display: block;
    transform: scale(1.05);
}

.title-button-review > a {
    margin-right: auto;
}

.title-button-review > select > option {
    text-align: center;
}

#user_info {
    display: flex;
    margin-top: 50px;
}

.main_avatar {
    width: 300px;
    margin-right: 30px;
    margin-bottom: 15px;
}

#user_info_main_nickname {

}

#avatar_form > input {
    display: none;
}

#avatar_form > label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

#avatar_form > label:hover {
    background-color: #555;
}

.dropdown-review-button {
    appearance: none;
    border: 1px solid #666;
    background: #222;
    color: white;
    height: 24px;
    width: 24px;
    padding: 0;
    cursor: pointer;
}

.dropdown-review-text {
    max-height: 0;
    opacity: 0;
    overflow: hidden;

    transform: translateY(-8px);

    transition:
            max-height .3s ease,
            opacity .25s ease,
            transform .25s ease;
}

.dropdown-review-text.open {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
}