#main {
    width: 100%;
    min-height: 100vh;
}

.container {
    justify-items: center;
    padding: 50px;
    height: fit-content;
}

.form_container_input:focus {
    outline: none;
}

.form_container {
    width: 25%;
}

.container_form_input {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}