body {
    font-family: "Lexend Exa", serif;
    color: white;
    background: linear-gradient(to bottom, #1a1a1d, #381c25) center center no-repeat;
    min-height: 100vh;
}

a, a:visited {
    text-decoration: none;
    color: white;
}

#main {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.container {
    width: 70%;
}