#header {
    display: flex;
    width: 100%;
    align-items: center;
    height: 60px;
    padding: 10px;
    background-color: #17171a;
    border: 1px none #4e4e50;
    border-bottom-style: solid;
}

#header-container {
    width: 70%;
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
}

#logo-link {
    text-decoration: none;
    color: inherit;
}

#logo {
    margin-right: 188px;
}

#search-input-form {
    display: flex;
    align-items: center;
    height: 100%;
}

#search-input-form > label {
    display: flex;
    align-items: center;
    height: 100%;
}

#search-input {
    width: 500px;
    height: 50%;
    border: 0;
    border-bottom: 2px solid #950740;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
}

#auth {
    display: flex;
    height: 100%;
    width: fit-content;
    margin-right: 5%;
    border-radius: 5px;
    transition: 0.25s;
    padding: 5px;
}

#auth:hover {
    background-color: #950740;
}

#auth_auth {
    justify-items: center;
    align-content: center;
}

#auth_auth > a {
    display: block;
    transition: 0.2s;
}

#auth_auth > a:hover {
    transform: scale(1.1);
}

.header_avatar {
    height: 100%;
    border-radius: 8px;
    margin-left: 20px;
    transition: 0.2s;
}

.header_avatar:hover {
    transform: scale(1.05);
}

#principals {
    align-content: center;
}

#principals > a {
    display: block;
    transition: 0.2s;
    width: fit-content;
}

#principals > a:hover {
    transform: scale(1.1);
}

.friends_buttons {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1px;
    margin-left: 15px;
}

.friends_buttons > a {
    display: flex;
    background-color: #FFF;
    height: 70%;
    align-items: center;
    border-radius: 8px;
    padding: 3px;
    transition: 0.2s;
}

.friends_buttons > a:hover {
    transform: scale(1.1);
}

.friend_related_icons {
    height: 60%;
}

#notifications {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
}

.notification {
    background: #222;
    color: white;
    padding: 10px 14px;
    border-radius: 8px;
    width: fit-content;
}
