.movies-list {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
}

.movie {
    padding: 0;
}

.movie:hover {
    box-shadow: 5px 5px rgba(149, 7, 64, 0.7);
}

.movie-poster {
    width: 160px;
}

.movie-title {
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    margin-top: auto;
}

.movie-release-date {
    display: block;
    margin: 10px 0 5px;
}

.movie-title-fits {
    width: auto;
    text-overflow: clip;
    justify-self: center;
}

.movie-title-does-not-fit {
    display: inline-block;
    animation: scroll-left 8s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.movie-link {
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 200px;
    padding: 15px 15px;
    border: 1px solid #950740;
    border-radius: 5px;
}
