body {
    font-family: Arial, sans-serif;
    color: white;
    background: linear-gradient(to bottom, #1a1a1d, #381c25);
}

#main {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

#header {
    display: flex;
    position: fixed;
    z-index: 9999;
    width: 100%;
    align-items: center;
    height: 60px;
    padding: 10px;
    background-color: #17171a;
    border: 1px solid #4e4e50;
    border-top: none;
    border-left: none;
    border-right: none;
}

#logo-link {
    text-decoration: none;
    color: inherit;
}

#logo {
    margin-right: 200px;
    font-family: "Lexend Exa", serif;
}

#search-input-form {
    display: flex;
    align-items: center;
    height: 100%;
}

#search-input-form > label {
    display: flex;
    align-items: center;
    height: 100%;
}

#search-input {
    border: 1px solid #950740;
    border-radius: 5px;
    width: 500px;
    height: 50%;
}

.container {
    width: 70%;
}

.movies-list {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
}

.movie {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 200px;
    padding: 15px 15px;
    border: 1px solid #950740;
    border-radius: 5px;
}

.movie:hover {
    box-shadow: 5px 5px rgba(149, 7, 64, 0.7);
}

.movie-poster {
    width: 160px;
}

.movie-title {
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    margin-top: auto;
}

.movie-release-date {
    display: block;
    margin: 10px 0 5px;
}

.movie-title-fits {
    width: auto;
    text-overflow: clip;
    justify-self: center;
}

.movie-title-does-not-fit {
    display: inline-block;
    animation: scroll-left 8s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
