#meta-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#main-info {

}

#original-title {
    display: block;
}

#original-title {
    margin-bottom: 10px;
}

#secondary-info {
    display: flex;
    justify-content: space-between;
}

#release-date {
    display: block;
}

#runtime {
    display: block;
}

#media {
    height: 400px;
    display: flex;
    align-items: center;
}

.image {
    display: block;
    height: 100%;
    border-radius: 10px;
    margin-left: 10px;
}

.image:hover {
    filter: brightness(80%);
}

#trailer {
    display: block;
    width: 40%;
    height: 100%;
    border: none;
    border-radius: 10px;
}