<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/general_style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/movies_page.css}">
</head>
<body>
    <header id="header">
        <div id="logo">
            <a th:href="@{/movies}" id="logo-link">
                <h1>
                    CineLab
                </h1>
            </a>
        </div>
        <form th:action="@{/movies}" method="get" id="search-input-form">
            <label>
                <input type="text" id="search-input" placeholder="Search by title" name="title">
            </label>
        </form>
    </header>
    <main id="main">
        <div class="container">
            <ul class="movies-list">
                <li th:each="movie : ${moviesList}" class="movie">
                    <div class="poster-div">
                        <img th:src="@{${movie.getMoviePosterUrl()}}" alt="Movie poster" class="movie-poster">
                    </div>
                    <div class="movie-description">
                        <span th:text="${movie.getTitle()}" class="movie-title"></span>
                        <span th:text="${movie.getRelease_date()}" class="movie-release-date"></span>
                    </div>
                </li>
            </ul>
        </div>
    </main>
</body>
</html>