<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getUsername()}"></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/css/general_style.css}">
    <link rel="stylesheet" th:href="@{/css/header_styles.css}">
    <link rel="stylesheet" th:href="@{/css/account_styles.css}">
</head>
<body>
    <div th:replace="general/header :: header"></div>
    <main id="main">
        <div class="container">
            <div id="user_info" th:data-username="${user.getUsername()}">
                <div id="avatar_related">
                    <img th:if="${user.avatar == null}" th:src="@{/img/empty_profile.jpg}" alt="" class="main_avatar">
                    <img th:if="${user.avatar != null}" th:src="@{'/avatars/' + ${user.getAvatar()}}" alt="user_avatar" class="main_avatar">
                        <div th:if="${!isCorrectUser && authenticated}" id="friend-controls" th:data-profile-id="${user.getId()}" th:data-current-user-id="${#authentication.principal.user.getId()}">
                            <div th:switch="${friendState}">
                                <button th:case="'NONE'" id="add-friend-button" th:data-username="${user.getUsername()}">
                                    Send friend request
                                </button>

                                <button th:case="'REQUEST_SENT'" disabled>
                                    Request sent
                                </button>

                                <div th:case="'REQUEST_RECEIVED'">
                                    <button id="accept-friend-button" th:data-id="${invite.getId()}">Accept</button>
                                    <button id="reject-friend-button" th:data-id="${invite.getId()}">Reject</button>
                                </div>

                                <div th:case="'FRIENDS'">
                                    <button disabled>
                                        Friends
                                    </button>
                                    <button id="delete-friend-button" th:data-profile-id="${user.getId()}" th:data-current-user-id="${#authentication.principal.user.getId()}">
                                        Delete friend
                                    </button>
                                </div>
                            </div>
                    </div>
                    <form th:if="${isCorrectUser}" id="avatar_form" action="/set_avatar" method="post" enctype="multipart/form-data">
                        <input type="file" id="avatar_input" name="avatar" accept="image/*" onchange="document.getElementById('avatar_form').submit()">
                        <label for="avatar_input">Upload an avatar</label>
                    </form>
                </div>
                <div id="main_user_info">
                    <h1 th:text="${user.getUsername()}" id="user_info_main_nickname"></h1>
                    <h2 th:text="${user.getName()}"></h2>
                </div>
            </div>
            <div id="social_info">

            </div>
            <div>
                <h2 th:if="${userWatchedMovies.size() != 0}">Watched movies</h2>
                <div class="watched_movies">
                    <div th:each="movie : ${userWatchedMovies}" class="watched-movie">
                            <div class="title-button-review">
                                <a th:href="@{/movies/{id}(id=${movie.getMovieId()})}">
                                    <span th:inline="text" class="watched-movie-title">[[${movie.getTitle()}]] ([[${movie.getReleaseYear()}]])</span>
                                </a>
                                <button type="button" class="dropdown-review-button">⮟</button>
                                <select th:if="${isCorrectUser}" name="rating" class="rating" onchange="this.form.submit()" th:data-movie-id="${movie.getMovieId()}" th:data-user-id="${user.getId()}">
                                    <option value=" " th:selected="${movie.rating == null}" >Not rated</option>
                                    <option value="1" th:selected="${movie.rating == 1}">1</option>
                                    <option value="2" th:selected="${movie.rating == 2}">2</option>
                                    <option value="3" th:selected="${movie.rating == 3}">3</option>
                                    <option value="4" th:selected="${movie.rating == 4}">4</option>
                                    <option value="5" th:selected="${movie.rating == 5}">5</option>
                                    <option value="6" th:selected="${movie.rating == 6}">6</option>
                                    <option value="7" th:selected="${movie.rating == 7}">7</option>
                                    <option value="8" th:selected="${movie.rating == 8}">8</option>
                                    <option value="9" th:selected="${movie.rating == 9}">9</option>
                                    <option value="10" th:selected="${movie.rating == 10}">10</option>
                                </select>
                                <span th:if="${!isCorrectUser}" th:text="${movie.rating}"></span>
                            </div>
                            <form th:if="${authenticated && isCorrectUser}" type="text" method="post" class="dropdown-review-text">
                                <input type="hidden" name="movieId" th:value="${movie.getMovieId()}">
                                <input type="hidden" name="userName" th:value="${user.getUsername()}">
                                <input type="text" name="review">
                                <button type="submit">Save</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script th:src="@{/scripts/addRatingForMoviesInProfile.js}"></script>
    <script th:src="@{/scripts/toggleReviewInProfile.js}"></script>
    <script th:src="@{/scripts/addReviewForMovie.js}"></script>
    <div th:replace="general/websocketscripts :: websocketscripts"></div>
</body>
</html>